.product-finder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(---f8f9fa) 0% 0% no-repeat padding-box;
  opacity: 1;

  .product-finder-header {
    padding: 35px 92px;

    .title {
      font-family: sans-serif;
    }
    
    .search-bar {
      display: flex;
      align-items: center;
      margin-top: 41px;
      height: 30px;
      width: 760px;
      border-bottom: 2px solid #0E2F53;
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-20)/29.87px var(--unnamed-font-family-roboto), sans-serif;
      text-align: left;
      text-transform: uppercase;
      opacity: 1;

      > span {
        margin-left: 10px;
        font-family: sans-serif;
      }

      > input[type="text"], input[type="text"]:focus {
        margin-left: 50px;
        width: -webkit-fill-available;
        background: transparent;
        border: none;
        outline-width: 0;
        font: italic normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/18px var(--unnamed-font-family-roboto), sans-serif;;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        color: #AAAAAA;
        opacity: 1;
      }
    }

    .filter-dropdowns {
      display: flex;
      margin-top: 38px;
      width: 760px;

      .dropdown:not(:last-child) {
        margin-right: 25px;
      }
    }
  }
  
  .product-finder-content {
    min-height: 400px;
    padding: 20px 90px 30px 92px;
    background: var(---ffffff) 0% 0% no-repeat padding-box;
    opacity: 1;
    
    .table {
      display: flex;
      flex-direction: column;
      
      .table-header {
        display: flex;
        height: 50px;
        background: #335776 0% 0% no-repeat padding-box;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-13)/14px var(--unnamed-font-family-roboto), sans-serif;
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(---ffffff);
        opacity: 1;

        .cell.first-column {
          text-align: left;
          color: var(---ffffff);
          padding-left: 10px;
        }
      }
      
      .row {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #E3E2E2;
        padding: 10px;
        opacity: 1;
      }
      
      .cell {
        display: flex;
        flex: 1;
        height: 50px;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity: 1;
        
        &.primary {
          background: #335776 0% 0% no-repeat padding-box;
        }
        
        &.secundary {
          background: #063156 0% 0% no-repeat padding-box;
        }
        
        &.first-column {
          flex-grow: 2;
          justify-content: flex-start;
          text-align: left;
          color: var(--unnamed-color-003057);
        }
      }
    }
  }
}