.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    padding: 0 94px;
    background: var(---ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    opacity: 1;
    
    .profile {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        height: 20px;
        
        .user {    
            margin-left: 10px;
            height: 15px;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-21) "Myriad Pro", sans-serif;
            letter-spacing: 0.1px;
            color: var(---111111);
            text-align: left;
            opacity: 1;    
        }
    }
}